.accordion-trigger {
  svg,
  span {
    @include vp-767 {
      display: none;
    }
  }

  span {
    @include vp-767 {
      width: 15px;
      height: 1px;

      background-color: $color-alice-blue;
    }
  }

  &.with-js {
    svg {
      @include vp-767 {
        display: block;

        margin: -4px 0 0;
      }
    }

    &.is-active {
      svg {
        @include vp-767 {
          display: none;
        }
      }

      span {
        @include vp-767 {
          display: block;

          margin: -6px 0 0;
        }
      }
    }
  }
}
