.catalog-list {
  li {
    position: relative;

    overflow-y: hidden;

    @include vp-767 {
      width: 100%;
    }

    &::after {
      position: absolute;
      bottom: 0;
      right: 0;

      display: flex;
      justify-content: center;
      align-items: center;

      width: 60px;
      height: 60px;

      color: $color-default-white;

      background-color: $color-deep-sky-blue;

      border-radius: 3px 0 0 0;

      content: "›";
      pointer-events: none;

      @include vp-767 {
        width: 40px;
        height: 40px;
      }
    }
  }

  a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    padding: 50px 40px 10px 40px;

    background-color: $color-black-pearl-dark-transparent;

    @include vp-1023 {
      padding: 35px 40px 10px 43px;
    }

    @include vp-767 {
      padding: 26px 30px 10px 30px;
    }
  }

  h3 {
    margin: 0;

    font-family: $ff-roboto-condensed;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: $color-default-white;

    overflow: hidden;

    @include vp-767 {
      font-size: 18px;
    }
  }

  img {
    width: 100%;
    object-fit: cover;
  }

  .showtablet {
    @include vp-1023 {
      display: block;
      visibility: visible;
    }

    @include vp-374 {
      display: none;
      visibility: hidden;
    }
  }

  .showmobile {
    @include vp-1023 {
      display: none;
      visibility: hidden;
    }

    @include vp-374 {
      display: block;
      visibility: visible;
    }
  }
}
