.catalog {
  padding: 67px 0 140px;

  background-color: $color-black-pearl-dark;

  .container {
    padding: 0;

    @include vp-1439 {
      padding: 0 32px;
    }
  }

  h2 {
    margin: 0 0 50px;

    font-family: $ff-roboto-condensed;
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;
    color: $color-default-white;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    justify-content: center;
    gap: 85px;

    margin: 0;
    padding: 0;

    list-style-type: none;
  }
}
