.header {
  position: fixed;

  width: 100vw;

  background-image: $black-to-top;

  z-index: 2;

  @include vp-1023 {
    position: absolute;
  }

  .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    padding: 10px 60px 20px 0;

    @include vp-1439 {
      padding: 10px 32px 20px 32px;
    }

    @include vp-1023 {
      align-items: start;

      padding: 20px 70px 25px 50px;
    }

    @include vp-767 {
      padding: 10px 35px 20px 26px;
    }
  }

  img {
    margin: 20px 160px 10px 0;

    @include vp-1439 {
      margin: 20px 80px 10px 0;
    }

    @include vp-1023 {
      margin: 0;
    }

    @include vp-767 {
      margin: 5px 0 0 0;
    }

    & > svg {
      margin: 0 15px 0 0;

      @include vp-1023 {
        margin: 0;
      }
    }
  }

  svg {
    @include vp-767 {
      margin: 5px 0 0 0;
    }
  }

  ul {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 120px;
    row-gap: 10px;

    max-width: 480px;
    margin: 3px 0 0 0;
    padding: 0;

    list-style-type: none;

    @include vp-1023 {
      column-gap: 20px;

      max-width: 100px;
      margin: 0 0 0 auto;
    }

    @include vp-767 {
      margin: -4px 0 0 auto;
    }

    & + a {
      min-width: 160px;
      margin: 3px 0 0 auto;
    }
  }
}
