.query {
  position: relative;

  padding: 166px 0 247px;

  background-color: $color-deep-sky-blue-bright;

  @include vp-1439 {
    padding: 166px 0 100px;
  }

  @include vp-1279 {
    padding: 100px 0;
  }

  @include vp-1023 {
    padding: 43px 0 125px;
  }

  @include vp-767 {
    padding: 47px 0 87px;
  }

  &::after {
    position: absolute;
    top: 0;

    border: 442px solid transparent;
    border-top: 400px solid $color-black-pearl-dark-transparent;
    border-left: 524px solid $color-black-pearl-dark-transparent;

    content: "";

    @include vp-1439 {
      left: -180px;
    }

    @include vp-1279 {
      left: -360px;
    }

    @include vp-1104 {
      left: -460px;
    }

    @include vp-1023 {
      display: none;
    }
  }

  &::before {
    position: absolute;
    top: 246px;
    left: 350px;

    width: 510px;
    height: 285px;

    background-image: url("../img/decoration/query-bg@1x.png");
    background-repeat: no-repeat;
    background-size: contain;

    z-index: 1;

    content: "";

    @include vp-1699 {
      left: 250px;

      width: 510px;
      height: 285px;
    }

    @include vp-1499 {
      left: 150px;
    }

    @include vp-1359 {
      width: 460px;
      height: 235px;
    }

    @include vp-1279 {
      left: 32px;
    }

    @include vp-1104 {
      width: 410px;
      height: 185px;
    }

    @include vp-1023 {
      display: none;
    }
  }

  .container {
    padding: 0;

    @include vp-1439 {
      padding: 0 32px;
    }

    @include vp-1023 {
      padding: 0 50px;
    }

    @include vp-767 {
      padding: 0 25px;
    }
  }

  form {
    position: relative;

    width: 592px;
    margin: 0 0 0 auto;

    @include vp-1023 {
      width: 100%;
      margin: 0;
    }
  }
}
