.footer {
  padding: 53px 0 55px;

  color: $color-transparent-70;

  background-color: $color-black-pearl-dark;

  @include vp-1023 {
    padding: 50px 0 65px;
  }

  @include vp-767 {
    padding: 35px 0;
  }

  .container {
    display: flex;

    padding: 0;

    @include vp-1439 {
      padding: 0 32px;
    }

    @include vp-1023 {
      flex-wrap: wrap;
      justify-content: start;
      align-items: start;

      padding: 0 50px;
    }

    @include vp-767 {
      padding: 0;
    }
  }

  nav {
    margin: 0 30px 0 165px;

    @include vp-1439 {
      margin: 0 30px 0 115px;
    }

    @include vp-1023 {
      margin: 0 30px 0 0;
    }

    @include vp-767 {
      width: 100%;
      margin: 0;

      border-top: $border-alice-blue-transparent;
      border-bottom: $border-alice-blue-transparent;
    }
  }

  .social-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;

    width: 150px;
    margin: 30px 0 0 10px;
    padding: 0;

    list-style-type: none;

    @include vp-1023 {
      margin: -5px -5px 0 0;
    }

    @include vp-767 {
      margin: 16px auto 24px auto;
    }
  }

  button {
    display: none;

    @include vp-767 {
      display: flex;
      align-items: center;
      justify-content: space-between;

      width: 100%;
      margin: 0;
      padding: 23px 26px 20px 25px;

      font-family: $ff-roboto-condensed;
      font-weight: 400;
      font-size: 15px;
      line-height: 16px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: $color-default-white;

      background-color: transparent;
    }
  }

  h2 {
    margin: 6px 0 22px;

    font-family: $ff-roboto-condensed;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $color-default-white;

    @include vp-1023 {
      width: 220px;
      margin: 38px 0 22px;
    }
  }

  ul {
    margin: 0;
    padding: 0;

    list-style-type: none;
  }

  .main-nav {
    column-count: 2;
    column-gap: 30px;

    width: 470px;

    @include vp-1023 {
      column-count: 1;

      width: 220px;
    }

    @include vp-767 {
      flex-direction: column;

      width: 100%;
      padding: 0 25px 20px;

      font-size: 14px;
      line-height: 25px;
    }
  }

  a {
    color: inherit;
  }

  img {
    @include vp-767 {
      margin: 0 auto;
    }
  }

  p {
    margin: 0;
    padding: 0;
  }

  div {
    @include vp-1023 {
      display: flex;
      justify-content: space-between;

      width: 100%;
    }

    @include vp-767 {
      flex-direction: column;
    }
  }

  .contacts {
    @include vp-1023 {
      flex-direction: column;
      align-items: start;

      width: 320px;
      margin: 0 0 0 auto;
    }

    @include vp-767 {
      width: 100%;
      padding: 0;

      border-bottom: $border-alice-blue-transparent;
    }
  }
}
